name: CI Pipeline

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:

jobs:
  build:
    name: Build & Docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ProviderOptimizerService.sln

      - name: Build
        run: dotnet build ProviderOptimizerService.sln --configuration Release --no-restore

      - name: Build Docker image
        run: docker build -t provider_optimizer_service_api .
